.container {
  display: flex;
  padding-top: 100px;
  height: 100%;
  justify-content: space-around;
}

.textContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

.textContainer > * {
  padding: 5px;
}
